<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOJO TÜRKİYE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="~/indico-construction-building-html-template/image/x-icon" href="~/indico-construction-building-html-template/img/favicon.png">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/fontawesome.min.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/themify-icons.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/elegant-line-icons.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/elegant-font-icons.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/flaticon.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/animate.min.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/slick.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/slider.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/odometer.min.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/venobox/venobox.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/owl.carousel.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/main.css">

    <link rel="stylesheet" href="~/indico-construction-building-html-template/css/responsive.css">
    <script src="~/indico-construction-building-html-template/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>
<body>


    <div class="site-preloader-wrap">
        <div class="spinner"></div>
    </div>
    <header class="header">
        <div class="primary-header">
            <div class="container">
                <div class="primary-header-inner">
                    <div class="header-logo">
                        <a asp-action="Index"><img id="logo" src="~/indico-construction-building-html-template/img/logo.png" alt="Indico"></a>
                    </div>
                    <div class="header-menu-wrap">
                        <ul class="dl-menu">
                            <li>
                                <a asp-action="Index">Anasayfa</a>

                            </li>
                            <li>
                                <a asp-action="Hizmetlerimiz">Hizmetlerimiz</a>

                            </li>
                            <li>
                                <a asp-action="Hakkımızda">Hakkımızda</a>

                            </li>
                            <li>
                                <a asp-action="Projeler">Projeler</a>

                            </li>
                            <li>
                                <a asp-action="İletisim">İletişim</a>
                               
                            </li>
                           
                        </ul>
                    </div>
                    <div class="header-right">
                        

                        <div class="mobile-menu-icon">
                            <div class="burger-menu">
                                <div class="line-menu line-half first-line"></div>
                                <div class="line-menu"></div>
                                <div class="line-menu line-half last-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()



    <a data-scroll asp-action="Index" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>


    <section class="widget-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <a href="#"><img src="/indico-construction-building-html-template/img/logo.png" alt="brand"></a>
                  
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <h4>Dernek</h4>
                        <ul class="widget-links">
                            <li><a asp-action="Hakkımızda">Hakkımızda</a></li>
                            <li><a asp-action="Hizmetlerimiz">Hizmetlerimiz</a></li>
                            <li><a asp-action="İletisim">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 sm-padding">
                    <div class="widget-content">
                        <h4>Merkez</h4>
                        <p>962 Fifth Avenue, 3rd Floor New York, NY10022</p>
                    
                        <span>(+123) 456 789 101</span>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/indico-construction-building-html-template/js/vendor/jquery-1.12.4.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/bootstrap.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/tether.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/headroom.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/owl.carousel.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/smooth-scroll.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/venobox.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/jquery.ajaxchimp.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/slick.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/waypoints.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/odometer.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/vendor/wow.min.js"></script>

    <script src="~/indico-construction-building-html-template/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
