
<body>
    
    <div class="site-preloader-wrap">
        <div class="spinner"></div>
    </div>
   
    <section class="page-header padding">
        <div class="container">
            <div class="page-content text-center">
                <h2>Specialized projects</h2>
                <p>Construction & Building Html Template.</p>
            </div>
        </div>
    </section>
    <section class="projects-section padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/indico-construction-building-html-template/img/project-1.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon ajax-popup-link"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Interior</a>
                            <h3><a href="#" class="tittle">Rectangular house near italy</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/indico-construction-building-html-template/img/project-2.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Architecture</a>
                            <h3><a href="#" class="tittle">Cathedral of brasilia brasilia</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/indico-construction-building-html-template/img/project-3.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a href="#" class="tittle">Harpa concert hall reykjavik</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/indico-construction-building-html-template/img/project-4.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Architecture</a>
                            <h3><a href="#" class="tittle">Milwauke museum wisconsin</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/indico-construction-building-html-template/img/project-5.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a href="#" class="tittle">The dancing house prague</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 padding-15">
                    <div class="project-item">
                        <img src="~/indico-construction-building-html-template/img/project-6.jpg" alt="projects">
                        <div class="overlay"></div>
                        <a href="#" class="view-icon"> <i class="fas fa-expand"></i></a>
                        <div class="projects-content">
                            <a href="#" class="category">Design</a>
                            <h3><a href="#" class="tittle">The dancing house prague</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   
</body>

